flask
click            
colorama         
Flask             
Flask-Login       
Flask-SQLAlchemy  
greenlet          
itsdangerous      
Jinja2            
MarkupSafe        
pip               
setuptools        
SQLAlchemy        
typing_extensions 
Werkzeug